<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="../../assets/Logo.png" width="20rem" height="20rem">
      CampusConnect
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="6">
        <h1>Welcome to CampusConnect !</h1>
        <p>
          Our app allows you to connect with other students using our algorithm and help reach out to the people you want depending on your personal needs or purposes. You can use our app to create new connections and expand your network. How and where to meet? Don’t worry we got you covered. We are partnering with local businesses in your school’s area to bring exclusive deals for you to go and enjoy!
        </p>
        <p>
          Connect using your gmail account          
        </p>
       </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-align-self-center" size-md="3">
        <ion-button href="http://localhost:8080/campusConnect/oauth2/authorization/google" expand="block" color="danger">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>