<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button href="http://localhost:8080/campusConnect/logout">
        <ion-icon slot="icon-only" ios="log-out-outline" md="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Campus Connect</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col size-lg="1" size-md="3" size-sm="3">
          <img [src]="picture ? picture : '../../assets/blank-profile-picture.jpg'" alt="profile image" class="profile-image" />
        </ion-col>
        <ion-col size-md="6" size-sm="4">
          <h3 *ngIf="payload?.firstName">{{payload?.firstName}} {{payload?.lastName}}</h3>
          <h3 *ngIf="!payload?.firstName">Welcome new user</h3>
        </ion-col>
        <ion-col size="1" push-md="4">
          <ion-icon name="settings-sharp" class="settings-icon" (click)="goToProfile()"></ion-icon>                   
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size-md="3">
          <!-- Inputs with labels -->
          <ion-item>
            <ion-label position="floating">Search person or interest</ion-label>
            <ion-input [(ngModel)]="searchField"></ion-input>
          </ion-item>         
        </ion-col>
        <ion-col size-md="1">
          <ion-button color="primary" (click)="search()">Search</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-list>
          <ion-list-header> Search results </ion-list-header>  
          <ion-item *ngFor="let person of searchResults">
            <ion-label>
              <h2>{{person?.firstName}} {{person?.lastName}}</h2>
              <h3>{{person?.emailId}}</h3>
              <p>{{person?.degree}} {{person?.subject}}</p>
            </ion-label>
            <ion-button color="primary" (click)="startChat(person?.emailId)">Chat</ion-button>
          </ion-item>  
        </ion-list>  
    </ion-row>
    </ion-grid>
  </ion-content>


</ion-content>