<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Campus connect
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col size-md="1">
          <img src="../../assets/blank-profile-picture.jpg" alt="profile image" class="profile-image" />
        </ion-col>
        <ion-col size-md="6">
          <h3>Priyanka</h3>
        </ion-col>
        <ion-col size="1" push-md="4">
          <ion-icon name="settings-sharp" class="settings-icon"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size-md="3">
          <!-- Inputs with labels -->
          <ion-item>
            <ion-label position="floating">Search person or interest</ion-label>
            <ion-input [(ngModel)]="searchField"></ion-input>
          </ion-item>         
        </ion-col>
        <ion-col size-md="1">
          <ion-button color="primary" (click)="search()">Search</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-list>
          <ion-list-header> Search results </ion-list-header>  
          <ion-item *ngFor="let person of searchResults">
            <ion-label>
              <h2>{{person?.firstName}} {{person?.lastName}}</h2>
              <h3>{{person?.emailId}}</h3>
              <p>{{person?.degree}} {{person?.subject}}</p>
            </ion-label>
            <ion-button color="primary" (click)="startChat(person?.emailId)">Chat</ion-button>
          </ion-item>  
        </ion-list>  
    </ion-row>
    </ion-grid>
  </ion-content>


</ion-content>